<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="container">
    <h1>{{ welcome }}</h1>
    <ul>
      <li *ngFor="let task of tasks">
        {{ task }}
      </li>
    </ul>
    <hr />
    <h2>{{ "Hola".repeat(4) }}</h2>
    <p>la suma de 3 + 3 es {{ 3 + 3 }}</p>
    <p>Holaa! Mi nombre es {{ name }} y tengo {{ age }} años</p>
    <hr />
    <img [src]="img" alt="" />
    <input type="text" [value]="name" />
    <button [disabled]="disabled">Click</button>
    <hr />
    <p>person: {{ person.name }}</p>
    <p>person age: {{ person.age }}</p>
    <p>person img: {{ person.img }}</p>
    <div>
      <img [src]="person.img" alt="" />
      <input type="number" [value]="person.age" />
    </div>
    <hr />
    <button (click)="clickHandler()">Evento click</button>
    <button (dblclick)="clickHandler()">Evento doble click</button>

    <p>(change)</p>
    <input
      type="number"
      [value]="person.age"
      (change)="changeHandler($event)"
    />

    <input type="text" [value]="person.name" (change)="changeHandler($event)" />

    <p>(keydown)</p>
    <input
      type="text"
      [value]="person.name"
      (keydown)="keydownHandler($event)"
    />
    <p>(keydown) tecla especifica</p>
    <input
      type="text"
      [value]="person.name"
      (keydown.shift.t)="clickHandler()"
    />
  </body>
</html>
